

{{!-- <ul>
  {{#each cats}}
    {{#unless this.sleepy}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="true">
          <button type="submit">SLEEP TIME!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul> --}}




<br>
<div class="container-fluid">
    {{#each scrapedData}}
    <br>
    <div class="list-group">
      <a href="#" id="article-title" class="list-group-item active">
        <span class="col-md-9">
            <h4 class="list-group-item-heading">{{data.title}}</h4>
        </span>
        <span class="col-md-1">
            <button class="btn btn-info">ARTICLE NOTES</button>
        </span>
        <span class="col-md-2">
            <button class="btn btn-danger">DELETE FROM SAVED</button>
        </span>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">...</p>
      </a>
    </div>
    {{/each}}
    <br>
</div>


